@reference '../index.css'
@tailwind utilities;


.sidebar-icon {
    @apply relative flex justify-center items-center
        w-20 h-20
        mx-auto
        shadow-lg
        bg-primary
        rounded-[40px]
        transition-all duration-250 ease-in-out
        hover:bg-primary-light
        hover:rounded-2xl
        hover:w-[calc(var(--spacing)*23)]
        hover:h-[calc(var(--spacing)*23)]

        /*border-2*/
    ;
}