@reference '../index.css'
@tailwind utilities;


.sidebar-icon {
    @apply relative flex justify-center items-center


        mx-auto
        shadow-lg

        w-19 h-19

        bg-primary
        rounded-[50%]

        transition-all duration-250 ease-in-out

        hover:bg-primary-light
        hover:rounded-2xl
        hover:w-21
        hover:h-21
    ;
}

.tooltip {
    @apply absolute
        left-full ml-2 p-2
        w-auto min-w-max
        rounded-md border-2 border-secondary-light
        bg-secondary text-white font-semibold
        transition-all duration-100
        scale-80 opacity-0
        origin-left
    ;
}

.sidebar-icon:hover .tooltip {
    @apply scale-100 opacity-100;
}